@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Registration</h1>
    <p><a asp-controller="Users" asp-action="Login">Login</a> or <a asp-controller="Users" asp-action="Create">Register New Account</a></p>
</div>
